<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<br/>
<table style="width: 100%; border: solid 1px; text-align: right; border-collapse: collapse;">
    <tr>
        <th style="text-align: center; font-size: 12px; border: solid 1px">a</th>
        <th style="text-align: center; border: solid 1px">ss</th>
    </tr>
    <tr>
        <td style="text-align: left">as</td>
    </tr>
    <tr>
        <td style="font-weight: 600">asss</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>
</body>
</html>